<div class="container container--lg">
	<div class="footer__body">
		<div class="illustration__inner-wrapper">
			<div class="illustration__inner illustration__inner--footer">
			<div class="illustration__header illustration__header--border-color"><img src="/themes/custom/tufting/images/footer-con1.png" loading="lazy" alt="" class="illustration__image"/></div>

				<div class="illustration__body illustration__body--bg-color">
					<div class="illustration__content illustration__content--width-full">
						<div class="illustration__heading illustration__heading-span">Ready to Tuft?</div>
						<div class="form w-form">
							<form id="email-form" name="email-form" data-name="Email Form" method="GET" class="form__inner" data-wf-page-id="6736298731cbe5c55f005f2d" data-wf-element-id="40a3b290-5e3e-9baf-0ca4-4462540611a0" action="https://bookings.tuftingtime.com/?wizard-step=location" target="_blank">
								<input class="input w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email" type="email" id="email-2" required=""/>
								<div data-role="circle-btn" data-w-id="40a3b290-5e3e-9baf-0ca4-4462540611a2" class="form__footer">
									<input type="submit" data-wait="Please wait..." class="button button--border-none w-button" value="Contact us"/>
								</div>
							</form>
							<div class="success-message w-form-done">
								<div>Thank you! Your submission has been received!</div>
							</div>
							<div class="w-form-fail">
								<div>Oops! Something went wrong while submitting the form.</div>
							</div>
						</div>
					</div>
				</div>
		</div>



		</div>
		<div  class="footer__content">
			<div class="footer__row footer__row--top">
				<div class="footer__col">
					<ul role="list" class="footer__list">
					{% for menu_column in data.user_links %}
						<li class="footer-item">
							<a href="{{ menu_column['#url'] }}" class="footer-item__link">{{ menu_column['#title'] }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>
				<div data-w-id="ded494a9-d0dd-17aa-23f3-962ef3c07349" class="disclamer disclamer--footer">
					<div class="disclamer__inner disclamer__inner--footer">
						<div id="w-node-ded494a9-d0dd-17aa-23f3-962ef3c0734b-54061193" class="leather leather--footer"><img src="{{data.advertise_footer.footer_adv_logo_image_url}}" alt="" class="leather__image" style=""/>
							<!--<div class="leather__image-shadow"></div>-->
						</div>
						<p class="paragraph paragraph--lh-140 paragraph--footer">{{ data.advertise_footer.footer_adv_title }} {{ data.advertise_footer.footer_adv_sub_title }}</p>
						<div id="w-node-ded494a9-d0dd-17aa-23f3-962ef3c07350-54061193" class="disclamer__link disclamer__link--footer">
							{% if data.advertise_footer.footer_adv_link_url %}
						<a data-name-button="form" href="{{data.advertise_footer.footer_adv_link_url}}" class="link">{{data.advertise_footer.footer_adv_link_text}}</a>
						{% endif %}
						</div>
					</div>
				</div>
				<div class="footer__location-tablet">
					<p class="footer__paragraph footer__paragraph--hidden-mob"></p>
					<p class="footer__paragraph footer__paragraph--hidden-mob">{{ data.main_showroom }}:</p>
					<p class="footer__paragraph footer__paragraph--hidden-mob">{{ data.main_showroom_address }}</p>


					<div class="footer__col-contacts">
						<div class="contacts">
						{% if data.sales_whatsapp %}
							<a href="{{ data.sales_whatsapp}}" data-w-id="389d7e11-de83-2435-42e9-2b98f6599f7d" class="contacts__link w-inline-block" target="_blank">
								<div class="flex w-embed">
									<img src="/themes/custom/tufting/images/what3_new.png" loading="lazy" alt="" class="hero__icon-image whatsapp"/>
								</div>
							</a>
						{% endif %}
						{% if data.sales_telephone %}
							<a href="tel:{{ data.sales_telephone}}" data-role="circle-btn" data-w-id="41a6caab-44a4-e1c2-6c9c-39f81d1bc956" class="contacts__link w-inline-block">
								<div class="flex w-embed">
								<img src="/themes/custom/tufting/images/phone-icon.svg" loading="lazy" alt="" class="contacts__image"/>
								</div>
							</a>
							{% endif %}
							{% if data.sales_email %}
							<a href="mailto:{{ data.sales_email }}" data-role="circle-btn" data-w-id="41a6caab-44a4-e1c2-6c9c-39f81d1bc958" class="contacts__link w-inline-block">
								<div class="flex w-embed">
									<img src="/themes/custom/tufting/images/mail-icon.svg" loading="lazy" alt="" class="contacts__image"/>
								</div>
							</a>
							{% endif %}
						</div>
						<a data-w-id="41a6caab-44a4-e1c2-6c9c-39f81d1bc95a" href="#hero" class="footer__anchor w-inline-block">
							<div class="icon icon--none w-embed">
								<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.99987 12.788L10.7871 6.00073L17.5724 12.788" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</div>
							<div class="anchor-bg">
								<div data-role="circle-btn" class="anchor-bg__inner"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="footer__row footer__row--bottom">
				<div class="footer__col">
					<p class="footer__paragraph footer__paragraph--hidden-mob">{{ data.main_showroom }}</p>
					<p class="footer__paragraph footer__paragraph--hidden-mob">{{ data.main_showroom_address }}</p>

				</div>
				<div class="footer__col-contacts">
					<div class="contacts">
					{% if data.sales_whatsapp %}
							<a href="{{ data.sales_whatsapp}}" data-w-id="389d7e11-de83-2435-42e9-2b98f6599f7d" class="contacts__link w-inline-block" target="_blank">
								<div class="flex w-embed">
									<img src="/themes/custom/tufting/images/what3_new.png" loading="lazy" alt="" class="hero__icon-image whatsapp"/>

								</div>
							</a>
						{% endif %}
					{% if data.sales_telephone %}
						<a href="tel:{{ data.sales_telephone}}" data-role="circle-btn" data-w-id="c2a2ce2a-9cd1-fb73-bcb3-ce771f9cc9cb" class="contacts__link w-inline-block">
							<div class="flex w-embed">
								<img src="/themes/custom/tufting/images/phone-icon.svg" loading="lazy" alt="" class="contacts__image"/>
							</div>
						</a>
						{% endif %}
						{% if data.sales_email %}
						<a href="mailto:{{ data.sales_email }}" data-role="circle-btn" data-w-id="c2a2ce2a-9cd1-fb73-bcb3-ce771f9cc9cd" class="contacts__link w-inline-block">
							<div class="flex w-embed">
								<img src="/themes/custom/tufting/images/mail-icon.svg" loading="lazy" alt="" class="contacts__image"/>
							</div>
						</a>
						{% endif %}
					</div>
					<a data-w-id="10e85c08-83fd-bdd9-d254-df3d322e3a2e" href="#main" class="footer__anchor w-inline-block">
						<div class="icon icon--none w-embed">
							<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.99987 12.788L10.7871 6.00073L17.5724 12.788" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>
						<div class="anchor-bg">
							<div data-role="circle-btn" class="anchor-bg__inner"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer___brand-overflow">
	<div class="footer___brand-wrapper">
		<div class="container container--xxl container--no-padding">
			<div data-w-id="3ce065db-8456-0538-ed15-026498163146" class="footer___brand">{{ data.footer_title }}</div>
		</div>
	</div>
	<div class="container container--lg">
		<div data-widget="preloader" class="footer__bottom">
			{% for footer_menu_column in data.footer_bottom_links %}
			<a href="{{ footer_menu_column['#url'] }}" class="footer__link footer__link--2">{{ footer_menu_column['#title'] }}</a>
			{% endfor %}
		</div>
	</div>
</div>
<div class="footer__bg-safari"></div>
