<div class="contacts">
{% if data.sales_whatsapp %}
	<a href="tel:{{ data.sales_whatsapp}}" data-w-id="389d7e11-de83-2435-42e9-2b98f6599f7d" class="contacts__link w-inline-block" target="_blank">
		<div class="flex w-embed">
			<img src="/themes/custom/tufting/images/whatsapp.png" loading="lazy" alt="" class="hero__icon-image"/>
			</svg>
		</div>
	</a>
{% endif %}

  {% if data.sales_telephone %}
	<a href="tel:{{ data.sales_telephone}}" data-w-id="389d7e11-de83-2435-42e9-2b98f6599f7d" class="contacts__link w-inline-block">
		<div class="flex w-embed">
			<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M11.7074 4.99935C12.5213 5.15815 13.2694 5.55623 13.8558 6.14263C14.4422 6.72903 14.8403 7.47707 14.9991 8.29102M11.7074 1.66602C13.3985 1.85388 14.9754 2.61116 16.1793 3.81352C17.3831 5.01588 18.1424 6.59186 18.3324 8.28268M8.52155 11.5519C7.52023 10.5506 6.72958 9.41839 6.14958 8.21037C6.09969 8.10647 6.07475 8.05451 6.05558 7.98877C5.98748 7.75514 6.0364 7.46826 6.17807 7.2704C6.21794 7.21472 6.26557 7.16709 6.36083 7.07183C6.65217 6.78049 6.79784 6.63483 6.89308 6.48834C7.25224 5.93593 7.25224 5.22378 6.89308 4.67138C6.79784 4.52489 6.65217 4.37923 6.36083 4.08789L6.19844 3.92549C5.75557 3.48263 5.53414 3.26119 5.29632 3.1409C4.82335 2.90168 4.2648 2.90168 3.79183 3.1409C3.55401 3.26119 3.33258 3.48263 2.88971 3.92549L2.75835 4.05686C2.31699 4.49821 2.09632 4.71889 1.92778 5.01891C1.74076 5.35183 1.60629 5.86891 1.60743 6.25076C1.60845 6.59488 1.67521 6.83007 1.80871 7.30044C2.52619 9.82827 3.87992 12.2136 5.8699 14.2036C7.85988 16.1935 10.2452 17.5473 12.773 18.2647C13.2434 18.3983 13.4786 18.465 13.8227 18.466C14.2045 18.4672 14.7216 18.3327 15.0545 18.1457C15.3546 17.9771 15.5752 17.7565 16.0166 17.3151L16.148 17.1837C16.5908 16.7409 16.8123 16.5194 16.9325 16.2816C17.1718 15.8087 17.1718 15.2501 16.9325 14.7771C16.8123 14.5393 16.5908 14.3179 16.148 13.875L15.9856 13.7126C15.6942 13.4213 15.5486 13.2756 15.4021 13.1804C14.8497 12.8212 14.1375 12.8212 13.5851 13.1804C13.4386 13.2756 13.293 13.4213 13.0016 13.7126C12.9064 13.8079 12.8587 13.8555 12.8031 13.8954C12.6052 14.0371 12.3183 14.086 12.0847 14.0179C12.0189 13.9987 11.967 13.9738 11.8631 13.9239C10.6551 13.3439 9.52286 12.5532 8.52155 11.5519Z" stroke="currentColor" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</div>
	</a>
	{% endif %}
	{% if data.sales_email %}
	<a href="mailto:{{ data.sales_email }}" data-w-id="389d7e11-de83-2435-42e9-2b98f6599f7f" class="contacts__link w-inline-block">
		<div class="flex w-embed">
			<svg width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.66602 3.83398L8.47012 8.59685C9.02109 8.98254 9.29658 9.17538 9.59624 9.25007C9.86093 9.31605 10.1378 9.31605 10.4025 9.25007C10.7021 9.17538 10.9776 8.98254 11.5286 8.59685L18.3327 3.83398M5.66602 14.6673H14.3327C15.7328 14.6673 16.4329 14.6673 16.9677 14.3948C17.4381 14.1552 17.8205 13.7727 18.0602 13.3023C18.3327 12.7675 18.3327 12.0674 18.3327 10.6673V5.33398C18.3327 3.93385 18.3327 3.23379 18.0602 2.69901C17.8205 2.2286 17.4381 1.84615 16.9677 1.60647C16.4329 1.33398 15.7328 1.33398 14.3327 1.33398H5.66602C4.26588 1.33398 3.56582 1.33398 3.03104 1.60647C2.56063 1.84615 2.17818 2.2286 1.9385 2.69901C1.66602 3.23379 1.66602 3.93385 1.66602 5.33398V10.6673C1.66602 12.0674 1.66602 12.7675 1.9385 13.3023C2.17818 13.7727 2.56063 14.1552 3.03104 14.3948C3.56582 14.6673 4.26588 14.6673 5.66602 14.6673Z" stroke="currentColor" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</div>
	</a>
	{% endif %}
</div>
<nav data-name="navigation" class="header-menu">
	<div class="header-menu__row">
		<a href="/" class="w-inline-block w--current">
			<div class="hero__icon hero__icon--mob">
				<img src="{{ data.logo_image_url }}" loading="lazy" alt="" class="hero__icon-image"/>
			</div>
		</a>
	</div>
	<div class="header-menu__inner scrollable">
		<div class="header__links">
		{% for menu_column in data.user_links %}
			<a href="{{ menu_column['#url'] }}" class="header__link w-inline-block">
				<div class="paragraph paragraph--heder-link">{{ menu_column['#title'] }}</div>
			</a>
			{% endfor %}
		</div>
		<div class="header__bottom">
			<div class="contacts">
				<a href="#" class="contacts__link w-inline-block">
					<img src="images/phone-icon.svg" loading="lazy" alt="" class="contacts__image"/>
				</a>
				<a href="#" class="contacts__link w-inline-block">
					<img src="images/mail-icon.svg" loading="lazy" alt="" class="contacts__image"/>
				</a>
			</div>
			<a href="#" class="button button--light w-button">Contact us</a>
		</div>
	</div>
</nav>
<div data-name="navigation-button" class="burger">
	<div class="burger-line burger-line--top"></div>
	<div class="burger-line burger-line--bottom"></div>
</div>
<a data-widget="button" data-w-id="389d7e11-de83-2435-42e9-2b98f6599fa8" href="#popup" class="button button--light button--mob-hidden w-button" data-fancybox>Contact us</a>



<div class="popup" id="popup">
	<div class="popup__inner">
		<div data-name="popup-close" class="popup__overlay"></div>
		<div data-no-lenis="" class="popup-content scrollable">
			<div class="popupt__col popupt__col--right">
				<div class="popup__image-wrapper"><img src="https://cdn.prod.website-files.com/6736298731cbe5c55f005f38/6748c0591052e850ab862211_image.webp" loading="lazy" sizes="(max-width: 512px) 100vw, 512px" srcset="https://cdn.prod.website-files.com/6736298731cbe5c55f005f38/6748c0591052e850ab862211_image-p-500.webp 500w, https://cdn.prod.website-files.com/6736298731cbe5c55f005f38/6748c0591052e850ab862211_image.webp 512w" alt="" class="popup-content__image"/></div>
				<div class="popup__footer">
					<div class="popup__box">
						<h3 class="popup__heading">NYC Showroom</h3>
						<p class="paragraph paragraph--semibold">253 West 35th Street Store
							<br/>
							Front #2 New York, NY 10001</p>
					</div>
					<div class="popup__box">
						<h3 class="popup__heading">Contacts</h3>
						<p class="paragraph paragraph--semibold">212.244.5190</p>
						<a href="#" class="popup__link">info@globalleathers.com</a>
					</div>
				</div>
			</div>
			<div class="popupt__col popupt__col--left">
				<h2 class="heading heading--italic heading-popup">Schedule a consultation</h2>
				<div class="popup__paragraph">
					<p class="paragraph paragraph--semibold">Fill in your details and we will contact you soon!</p>
				</div>
				<div class="popup-form w-form">
					<form id="wf-form-Email-Form" name="wf-form-Email-Form" data-name="Email Form" redirect="/success" data-redirect="/success" method="get" class="popup-form__inner" data-wf-page-id="6736298731cbe5c55f005f2d" data-wf-element-id="df6ebae6-7b9f-4e7d-5643-827e0a8dba55">
						<input class="popup-form__input w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="Full Name *" type="text" id="name-3" required=""/>
						<input class="popup-form__input w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Email *" type="text" id="name-2" required=""/>
						<div class="popup-form__input-wrp popup-form__input-wrp--phone">
							<div class="code-embed popup-form__select-wrp w-embed">
								<select name="select" class="popup-form__input-select">
									<option value="value1" selected>US</option>
								</select>
								<style>
									.popup-form__input-select {
										padding: 0.125rem 0 1.25rem;
										padding-block-end: 0.15rem;
										color: rgba(81, 72, 63, 0.4);
										padding-block: 0.46rem;
										font-size: 1rem;
										border: none;
									}
									.popup-form__input-select:focus {
										outline: none;
									}
								</style>
							</div>
							<input class="popup-form__input popup-form__input--phone w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Phone number *" type="text" id="name-2" required=""/>
						</div>
						<input class="popup-form__input w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Company Name " type="text" id="name-2"/>
						<input class="popup-form__input w-input" maxlength="256" name="Message-2" data-name="Message 2" placeholder="Message" type="text" id="Message-2"/>
						<label class="w-checkbox checkbox">
							<input type="checkbox" name="privacy-policy-2" id="privacy-policy-2" data-name="Privacy Policy 2" class="w-checkbox-input checkbox__input"/>
							<div class="checkbox__label">
								<div class="checkbox__label--inner">
									<div class="checkbox__label-active">
										<div class="embed-2 w-embed">
											<svg width="10" height="8" viewbox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M9.71853 0.200581C10.0634 0.49318 10.0959 0.998751 9.79106 1.32981L3.89884 7.7298C3.73359 7.90929 3.49324 8.00825 3.24388 7.99946C2.99452 7.99068 2.76237 7.87508 2.61127 7.68444L0.170206 4.60475C-0.10849 4.25314 -0.0375081 3.75121 0.328749 3.48366C0.695007 3.21611 1.21785 3.28426 1.49654 3.63586L3.32261 5.93967L8.54226 0.270211C8.84705 -0.0608434 9.37368 -0.092018 9.71853 0.200581Z" fill="#252622"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<span class="checkbox__paragraph w-form-label" for="privacy-policy-2">I agree to the
								<a href="#" class="checkbox__link">Terms</a>
								of use and
								<a href="/privacy-policy" class="checkbox__link">Privacy Policy</a>
							</span>
						</label>
						<div class="popup-form__footer">
							<div data-role="circle-btn" data-w-id="4469e997-96bb-425e-3391-498826f8c679" class="form__footer form__footer--popup">
								<input type="submit" data-wait="Please wait..." class="button button--border-none w-button" value="Submit now"/>
							</div>
						</div>
					</form>
					<div class="w-form-done">
						<div>Thank you! Your submission has been received!</div>
					</div>
					<div class="w-form-fail">
						<div>Oops! Something went wrong while submitting the form.</div>
					</div>
				</div>
			</div>
			<div class="popup_button-close w-embed">
				<a href="javascript:parent.$.fancybox.close();">
					<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.6648 7.1112e-06L19.9981 1.33321L1.3332 19.9981L0 18.6649L18.6648 7.1112e-06Z" fill="#675B50"/>
						<path d="M20 18.6649L18.6668 19.9981L0.00194881 1.3332L1.33515 0L20 18.6649Z" fill="#675B50"/>
					</svg>
				</a>
			</div>
		</div>
	</div>
	<div class="w-embed">
		<style>
			.checkbox__input:checked + .checkbox__label .checkbox__label-active {
				opacity: 1;
			}
		</style>
	</div>
