<div class="contacts">
	{% if data.sales_whatsapp %}
		<a href="{{ data.sales_whatsapp}}" data-w-id="389d7e11-de83-2435-42e9-2b98f6599f7d" class="contacts__link w-inline-block" target="_blank" data-role="circle-btn">
			<div class="flex w-embed">
				<img src="/themes/custom/tufting/images/what3_new.png" loading="lazy" alt="" class="hero__icon-image whatsapp"/>
			</div>
		</a>
	{% endif %}

	{% if data.sales_telephone %}
		<a href="tel:{{ data.sales_telephone}}" data-w-id="389d7e11-de83-2435-42e9-2b98f6599f7d" class="contacts__link w-inline-block" data-role="circle-btn">
			<div class="flex w-embed">
				<img src="/themes/custom/tufting/images/phone-icon.svg" loading="lazy" alt="" class="contacts__image"/>
			</div>
		</a>
	{% endif %}
	{% if data.sales_email %}
		<a href="mailto:{{ data.sales_email }}" data-w-id="389d7e11-de83-2435-42e9-2b98f6599f7f" class="contacts__link w-inline-block" data-role="circle-btn">
			<div class="flex w-embed">
				<img src="/themes/custom/tufting/images/mail-icon.svg" loading="lazy" alt="" class="contacts__image"/>
			</div>
		</a>
	{% endif %}
</div>
<nav data-name="navigation" class="header-menu">
	<div class="header-menu__row">
		<a href="/" class="w-inline-block w--current">
			<div class="hero__icon hero__icon--mob">
				<img src="{{ data.logo_image_url }}" loading="lazy" alt="" class="hero__icon-image"/>
			</div>
		</a>
	</div>
	<div class="header-menu__inner scrollable">
		<div class="header__links">
			{% for menu_column in data.user_links %}
				<a href="{{ menu_column['#url'] }}" class="header__link w-inline-block">
					<div class="paragraph paragraph--heder-link">{{ menu_column['#title'] }}</div>
				</a>
			{% endfor %}
		</div>
		<div class="header__bottom">
			<div class="contacts">
				{% if data.sales_whatsapp %}
					<a href="{{ data.sales_whatsapp}}" data-w-id="389d7e11-de83-2435-42e9-2b98f6599f7d" class="contacts__link w-inline-block" target="_blank" data-role="circle-btn">
						<div class="flex w-embed">
							<img src="/themes/custom/tufting/images/what3_new.png" loading="lazy" alt="" class="hero__icon-image whatsapp"/>
						</div>
					</a>
				{% endif %}
				{% if data.sales_telephone %}
					<a href="tel:{{ data.sales_telephone}}" class="contacts__link w-inline-block">
						<img src="/themes/custom/tufting/images/phone-icon.svg" loading="lazy" alt="" class="contacts__image" data-role="circle-btn"/>
					</a>
				{% endif %}
				{% if data.sales_email %}
					<a href="mailto:{{ data.sales_email }}" class="contacts__link w-inline-block">
						<img src="/themes/custom/tufting/images/mail-icon.svg" loading="lazy" alt="" class="contacts__image" data-role="circle-btn"/>
					</a>
				{% endif %}
			</div>
			<a href="https://bookings.tuftingtime.com/?wizard-step=location" class="button button--light w-button" style="visibility:hidden;">Contact us</a>
		</div>
	</div>
</nav>
<div data-name="navigation-button" class="burger">
	<div class="burger-line burger-line--top"></div>
	<div class="burger-line burger-line--bottom"></div>
</div>
<a data-widget="button" data-w-id="389d7e11-de83-2435-42e9-2b98f6599fa8" href="https://bookings.tuftingtime.com/?wizard-step=location" class="button button--light button--mob-hidden w-button" target="_blank" style="visibility:hidden;">Contact us</a>



{{ drupal_entity('webform', 'contact') }}



