<section id="bring-your-design" data-widget="image-animation" data-w-id="9b30d622-8800-3a8d-26cc-2ddf8e43714e" class="section bring">
	<div class="container container--lg">
		<div class="bring__text-layout">
			<div class="bring__images">
				<div data-name="parallax-image-parent" id="w-node-a81a16fc-997d-80a8-0030-d3a6e618c157-5f005f2d" class="bring__image-wrp bring__image-wrp--1">
					<div data-w-id="516475ef-13ff-86d6-1433-330e055681e8" class="bring__image-animation">
						<div data-name="parallax-image-overlay" class="bring__image-inner">
							<div class="bring__image-scale"><img src="{{ bring_your_design_image_1 }}" loading="lazy" data-w-id="3d1818e4-941f-a777-2773-8ccf23256fe9" id="w-node-_3d1818e4-941f-a777-2773-8ccf23256fe9-5f005f2d" alt="" class="bring__image"/></div>
						</div>
					</div>
				</div>
				<div data-name="parallax-image-parent" id="w-node-_71d9b5f8-ff2b-de34-f106-f0f67628fa56-5f005f2d" class="bring__image-wrp bring__image-wrp--2">
					<div data-w-id="6f04aa65-6b36-d50b-a5c1-2e9f528ff677" class="bring__image-animation">
						<div data-name="parallax-image-overlay" class="bring__image-inner">
							<div class="bring__image-scale"><img src="{{ bring_your_design_image_2 }}" loading="lazy" data-w-id="826fb954-3403-fb17-1bde-ac4324c8d577" id="w-node-_826fb954-3403-fb17-1bde-ac4324c8d577-5f005f2d" alt="" class="bring__image"/></div>
						</div>
					</div>
				</div>
				<div data-name="parallax-image-parent" id="w-node-a4663780-641b-5f53-7ceb-a26d89fa5a78-5f005f2d" class="bring__image-wrp bring__image-wrp--3">
					<div data-w-id="cf48ed1b-4b99-ae66-7845-efe14cdffb2c" class="bring__image-animation">
						<div data-name="parallax-image-overlay" class="bring__image-inner">
							<div class="bring__image-scale"><img src="{{ bring_your_design_image_3 }}" loading="lazy" data-w-id="f5fd6d4f-0d8a-c742-75ac-79293af90c4c" id="w-node-f5fd6d4f-0d8a-c742-75ac-79293af90c4c-5f005f2d" alt="" class="bring__image"/></div>
						</div>
					</div>
				</div>
				<div data-name="parallax-image-parent" id="w-node-_903fa057-c1fc-00f8-993d-3f256d875b00-5f005f2d" class="bring__image-wrp">
					<div data-w-id="28c5452f-a342-a5dc-a11e-e009de8c2037" class="bring__image-animation">
						<div data-name="parallax-image-overlay" class="bring__image-inner">
							<div class="bring__image-scale"><img src="{{ bring_your_design_image_4 }}" loading="lazy" data-w-id="8713d1aa-8c15-891a-c205-da813e0537d4" alt="" class="bring__image"/></div>
						</div>
					</div>
				</div>
				<div data-name="parallax-image-parent" id="w-node-_9b23dd1b-0da0-e07c-7c81-d2685b7488d1-5f005f2d" class="bring__image-wrp">
					<div data-w-id="6ff29a1b-069b-dbba-2eb3-2960e668f891" class="bring__image-animation">
						<div data-name="parallax-image-overlay" class="bring__image-inner">
							<div class="bring__image-scale"><img src="{{ bring_your_design_image_5 }}" loading="lazy" data-w-id="16856b9c-280b-9f4d-c572-ee8e718fc31f" id="w-node-_16856b9c-280b-9f4d-c572-ee8e718fc31f-5f005f2d" alt="" class="bring__image"/></div>
						</div>
					</div>
				</div>
				<div data-name="parallax-image-parent" id="w-node-_725be0e3-4ecb-8dbc-e93f-50a91c22f802-5f005f2d" class="bring__image-wrp bring__image-wrp--6">
					<div data-w-id="552d25db-3f71-557b-5352-39da42b6de37" class="bring__image-animation">
						<div data-name="parallax-image-overlay" class="bring__image-inner">
							<div class="bring__image-scale"><img src="{{ bring_your_design_image_6 }}" loading="lazy" data-w-id="f6dca85f-6916-a9fc-ef4d-c599b03acb87" id="w-node-f6dca85f-6916-a9fc-ef4d-c599b03acb87-5f005f2d" alt="" class="bring__image"/></div>
						</div>
					</div>
				</div>
			</div>
			<div data-name="title-parent" id="w-node-d2cdfdb6-a0fa-ab32-2446-63638ca26960-5f005f2d" class="bring__text bring__text--1">
			<span data-name="title-item" class="heading-span heading-span--lg" id="#animate12">{{ content.field_title}}</span>


				<!--<span data-name="title-item" class="italic heading-span heading-span--lg" id="animate13">Design</span>-->
			</div>
			<!--<div data-name="title-parent" id="w-node-_375bb93e-a257-9974-e068-a21f2e28a9a6-5f005f2d" class="bring__text bring__text--mobile">
				<span data-name="title-item" class="italic heading-span">See Your</span>
				<span data-name="title-item" class="heading-span heading-span--lg">Dreams</span>
			</div>
			<div data-name="title-parent" id="w-node-_23031e06-f454-02d1-9a2d-cdfb26131dba-5f005f2d" class="bring__text bring__text--mobile">
				<span data-name="title-item" class="heading-span heading-span--italic">Come</span>
				<span data-name="title-item" class="no-wrap heading-span">To Life</span>
			</div>-->
			<div data-name="title-parent" id="w-node-b01d211d-26ce-f874-0428-1ecc478f51e1-5f005f2d" class="bring__text bring__text--2">
<span data-name="title-item" class="italic heading-span heading-span--lg" id="#animate14">{{ content.field_sub_title}}</span>

				<!--<span data-name="title-item" class="no-wrap heading-span heading-span--lg" id="animate15">To&nbsp;Reality</span>-->
			</div>
		</div>
	</div>
	<!--<div class="bring__bg-wrp"><img src="{{ bring_your_design_bg_image }}" loading="lazy" alt="" class="bring__bg"/></div>-->

<div class="bring__bg-wrp">

	{% if video_url is not empty %}
		<div class="video-container">

			<video class="bring__bg banner-video-wrapper" style="--bs-aspect-ratio: 56.25%;" controls="false" {{ play_str }} playsinline>

				<source src="{{ video_url }}" type="{{ mime_type }}">

				Your browser does not support the video tag.
			</video>

		</div>
{% elseif bring_your_design_bg_image is not empty %}

			<img src="{{ bring_your_design_bg_image }}" loading="lazy" alt="" class="bring__bg"/>


	{% else %}
		<img src="https://placehold.co/1200x500/3A81EE/FFFFFF?text=Placeholder+Media+Block" loading="lazy" alt="" class="illustration__bg-image">
	{% endif %}
</div>



</section>
