<div class="section-wrapper">

	<section id="about" class="section section-introduction">
		<div class="container">
			<div class="introduction">
				<div class="introduction__header">
					<div data-w-id="9d98cc40-90c0-b033-d755-f22705f64bdd"  class="subheading-2 reasons__subheading">{{ content.field_sub_title.0|render}}</div>
					<h2 data-name="title-parent" class="heading heading--lg">
						<span data-name="title-item" class="heading-span" id="#animate8">{{ content.field_title.0|render}}</span>
						<!--<span data-name="title-item" class="heading-span" id="animate9">Leathers</span>-->
					</h2>
				</div>
				<ul role="list" class="introduction__list">
					<li data-w-id="9d98cc40-90c0-b033-d755-f22705f64be2"  class="introduction-item">
						<div class="introduction-item__inner">
							<div class="introduction-item__info">
								<h3 class="heading-2 heading--italic introduction-item__heading">{{ content.field_section_1_title.0|render}}</h3>
								<p class="paragraph">{{ content.field_section_1_body_text.0|render }}</p>
							</div>
						</div>
						<div class="introduction-item__image-wrapper"><img loading="lazy" src="{{ section_1_image }}" alt="" class="introduction-item__image"/></div>
					</li>
					<li data-w-id="9d98cc40-90c0-b033-d755-f22705f64bee"  class="introduction-item introduction-item--mob-reverse">
						<div class="introduction-item__image-wrapper"><img loading="lazy" src="{{section_2_image}}" alt="" class="introduction-item__image"/></div>
						<div class="introduction-item__inner introduction-item__inner--reverse">
							<div class="introduction-item__info">
								<h3 class="heading-2 heading--italic">{{ content.field_section_2_title.0|render}}</h3>
								<p class="paragraph">{{ content.field_section_2_body_text.0|render}}</p>
							</div>
						</div>
					</li>
					<li data-w-id="9d98cc40-90c0-b033-d755-f22705f64bfa"  class="introduction-item">
						<div class="introduction-item__inner">
							<div class="introduction-item__info">
								<h3 class="heading heading--italic">{{ content.field_section_3_title.0|render}}</h3>
								<p class="paragraph">{{ content.field_section_3_body_text.0|render}}</p>
							</div>
						</div>
						<div class="introduction-item__image-wrapper"><img loading="lazy" src="{{section_3_image}}" alt="" class="introduction-item__image"/></div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>
