<section id="hero" class="hero">
	<div class="container hero__container">
		<div class="hero__body">
			<h1 class="heading heading--xl hidden">{{ content.field_title}}</h1>
			<div>
				<div class="hero__content">
					<div  class="title-icon-wrapper">
						<div class="hero__icon">
							<img src="{{ logo_image }}" loading="lazy" alt="" class="hero__icon-image"/>
						</div>
					</div>
					<div data-widget="title-animation" data-name="title-parent" class="title-icon title-icon--hero-width">
						<div data-name="title-item" class="title-icon__heading" id="animate1">{{ content.field_title}}
						</div>
					</div>
				</div>
				<div>
					<div class="hero__paragraph">
						<div class="paragraph paragraph--semibold paragraph--center">{{ content.field_sub_title}}</div>
					</div>
				</div>
			</div>
			<a data-role="circle-btn" href="{{ content.field_consultant_form_link}}" class="button button--fade w-button">{{ content.field_consultant_form}}</a>
			<div class="hidden w-embed">

			</div>
		</div>
		<!--<div data-w-id="423707b2-06f6-da27-433f-863b5ec06b1a" class="disclamer disclamer--hero">
			<div class="disclamer__inner">
				<div class="leather leather--disclaimer">
					<img src="images/leather-1.webp" loading="lazy" alt="" class="leather__image"/>
					<div class="leather__image-shadow"></div>
				</div>
				<p class="paragraph paragraph--lh-140">Don’t need upholstery leather?
					<br/>
					Shop our extensive leather collections for the fashion and leathercraft industries!</p>
				<div class="disclamer__link">
					<a data-name-button="form" href="#" class="link">Shop now</a>
				</div>
				<div data-name-disclaimer="button" class="disclamer__close w-embed">
					<svg width="100%" height="100%" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.6816 1.00045L1 16.6821M16.6816 16.6816L1 1" stroke="#51483F" stroke-width="2"/>
					</svg>
				</div>
			</div>
		</div>-->
	</div>
</section>

