{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}



<section id="discover-the-best" data-widget="leathers-banner" class="section discover">
	<div class="container">
		<div class="discover__header">
			<h2 data-name="title-parent" class="heading heading--lg discover__header-heading">
				<span data-name="title-item" class="heading-span" id="#animate10">{{ gallery_header.field_title.value }}</span>
				<!--<span data-name="title-item" class="heading-span" id="animate11">Leather&nbsp;Sourcing</span>-->
			</h2>
			<div class="discover__header-paragraph_wrapper">
				<p data-w-id="fc691cad-7fa9-f8f9-7616-f2ceafc8d439"  class="paragraph">{{ gallery_header.field_sub_title.value }}</p>
			</div>
			{% if consultant_form_link %}
			<a data-role="circle-btn" data-name-button="form" data-w-id="1a99bb18-1308-2455-02d8-a5269e140374"  href="{{ consultant_form_link }}" class="button discover__header-button w-button">{{ gallery_header.field_consultant_form.value }}</a>
			{% endif %}
		</div>
	</div>
	<div class="discover__banner-track">
		<div class="discover__banner-cms w-dyn-list">
			<div role="list" class="discover__banner-list w-dyn-items">
				{% if rows %}
							{{ rows }}
						{% endif %}
			</div>
		</div>
	</div>
</section>



